.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


/* 2-column layout variants */
.columns.layout-30-70 > div {
  flex-wrap: nowrap;
}

.columns.layout-30-70 > div > div:first-child {
  flex: 0 0 30%;
}

.columns.layout-30-70 > div > div:last-child {
  flex: 0 0 70%;
}

.columns.layout-50-50 > div {
  flex-wrap: nowrap;
}

.columns.layout-50-50 > div > div {
  flex: 0 0 50%;
}

.columns.layout-70-30 > div {
  flex-wrap: nowrap;
}

.columns.layout-70-30 > div > div:first-child {
  flex: 0 0 70%;
}

.columns.layout-70-30 > div > div:last-child {
  flex: 0 0 30%;
}

/* 1-column layout variants */
.columns.full > div {
  max-width: 100%;
}

.columns.half > div {
  max-width: 50%;
  margin: 0 auto;
}

.columns.third > div {
  max-width: 33.333%;
  margin: 0 auto;
}