/* stylelint-disable max-line-length */
@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

